<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<label>Podana waga: </label>

<h1 th:text="${data.weight}"/>

<label> Podany wzrost: </label>
<h1 th:text="${data.height}"/>

<label> BMI wynosi: </label>
<h1 th:text="${data.getScoreBMI()}"/>

<label> Podany wiek: </label>
<h1 th:text="${data.age}"/>

<label> Podany współczynnik aktywności fizycznej: </label>
<h1 th:text="${data.param}"/>

<label> Jeśli jesteś mężczyzną to wskaźnik podstawowej przemiany materii wynosi: </label>
<h1 th:text="${data.getBMRM()}"/>

<label> Jeśli jesteś kobietą to wskaźnik podstawowej przemiany materii wynosi: </label>
<h1 th:text="${data.getBMRK()}"/>

<label> Jeśli jesteś mężczyzną to potrzebujesz około: </label>
<h1 th:text="${data.getCalM()}"/>

<label> Jeśli jesteś kobietą to potrzebujesz około: </label>
<h1 th:text="${data.getCalK()}"/>

<label> Płeć; </label>
<h1 th:text="${data.sex}"/>

<label>BMR:</label>
<p th:text="${data}"></p>

</body>
</html>